# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
*/.ipynb_checkpoints

# Bulk datafiles for international analysis
data/*/
!data/outputs/

# Large inference outputs
**/hidden*.csv

# Profiling outputs
*.prof
*.lprof

